.keyicon.icon32
{
    background-image: url('../images/icons-32.png');
    background-repeat: no-repeat;
    background-position: 0 -32px;
    width: 32px;
    height: 32px;
}

.mapicon.icon32
{
    background-image: url('../images/icons-32.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.spatialmatch-search-form FIELDSET LEGEND
{
    padding-bottom: 5px;
}

.spatialmatch-search-form FIELDSET DIV
{
    border: 1px solid #C0C0C0;
    padding: 5px 10px;
}

.spatialmatch-search-form FIELDSET UL
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.spatialmatch-search-form FIELDSET UL LI
{
    margin-bottom: 2px;
}

.spatialmatch-search-form DIV.borderize
{
    border: 1px solid #C0C0C0;
    padding: 0px 10px;
}

.spatialmatch-settings-form TABLE TD.spatialmatch-row-label
{
    width: 125px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 6px;    
}

.spatialmatch-settings-form TABLE INPUT[type='text']
{
    width: 250px;
}

TABLE.wp-list-table.maps TH.column-id
{
    width: 4em;
}

TABLE.wp-list-table.maps TH.column-shortcode
{
    width: 200px;
}