SPAN.warning
{
    color: red;
}

INPUT.spatialmatch-popup-button
{
    cursor: pointer;
}

IMG.spatialmatch-popup-image
{
    cursor: pointer;
}

.spatialmatch-shortcode-editor
{
    margin: -2px -15px -15px;      /* Un-does TB_ajaxContent */
}

.spatialmatch-shortcode-editor .header
{
    background-color: #F9F9F9;
    border-bottom-color: #DFDFDF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 20px;
}

.spatialmatch-shortcode-editor .header UL
{
    bottom: -1px;
    overflow: hidden;
    list-style: none outside none;
    position: relative;
    padding-top: 5px;
}

.spatialmatch-shortcode-editor .header UL LI
{
    display: inline;
    white-space: nowrap;
}

.spatialmatch-shortcode-editor .header UL A
{
    float: left;
    line-height: 28px;
    padding: 1px 7px ;
    text-decoration: none;
    color: #21759B !important;
}

.spatialmatch-shortcode-editor .header UL A:hover
{
    color: #D54E21 !important;
}

.spatialmatch-shortcode-editor .header UL A.active
{
    background-color: #FFFFFF;
    border-color: #DFDFDF #DFDFDF #FFFFFF;
    color: #D54E21 !important;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
}

.spatialmatch-shortcode-editor .tab-wrapper
{
    padding: 15px 20px;
    border-bottom: 1px solid #DFDFDF;
}

.spatialmatch-shortcode-editor .tab-content TABLE TD
{
    padding: 0px 10px 5px 0px;
}

.spatialmatch-shortcode-editor .tab-content SELECT
{
    margin: 10px 0px;
    display: block;
    width: 60%;
}

.spatialmatch-shortcode-editor .tab-content INPUT.dimensionbox
{
    width: 70px;
}

.spatialmatch-shortcode-editor #x-tab-popup TABLE
{
    margin-top: 10px;
}

.spatialmatch-shortcode-editor #x-tab-popup #x-text-popup
{
    width: 60%;
    margin-bottom: 5px;
}

.spatialmatch-shortcode-editor .button-box
{
    padding: 15px;
}

.spatialmatch-shortcode-editor .button-box INPUT
{
    width: 70px;
}

.spatialmatch-shortcode-editor DIV.warning
{
    background-color: #FFFFE0;
    border-color: #E6DB55;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}

.spatialmatch-widget-search .ui-slider
{
    margin: 10px 0px;
}

.spatialmatch-widget-search INPUT[type='text']
{
    margin: 5px 0px;
    width: 100%;
}

.spatialmatch-widget-property-search .spatialmatch-widget-search-field-label
{
    float: left;
}

.spatialmatch-widget-property-search .spatialmatch-widget-search-field-range-value
{
    float: right;
}

.spatialmatch-widget-property-search .spatialmatch-widget-search-field
{
    clear: both;
}

.spatialmatch-widget-search INPUT.button
{
    margin-top: 10px;
    width: 80px;
}

.spatialmatch-widget-search FIELDSET
{
    padding-bottom: 5px;
    border: none;
}

.spatialmatch-widget-search FIELDSET LEGEND
{
    padding: 10px 0px 5px 0px;
}

.spatialmatch-widget-search FIELDSET DIV
{
    border: 1px solid #C0C0C0;
    padding: 5px;
    line-height: 1.7em;
}

.spatialmatch-widget-search .spatialmatch-widget-search-column
{
    float: left;
    margin-right: 30px;
}

IFRAME#spatialmatch-adwords-tracking
{
    display: none;
    visibility: hidden;
}

.spatialmatch_page_spatialmatch-admin-add #post-body-content
{
    margin-right: 0;
}